<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot - о проекте</title>
    <link rel="stylesheet" href="../Static/CSS/index.css" />
    <link rel="stylesheet" href="../Static/CSS/about.css" />
    <link rel="stylesheet" href="../Static/CSS/imageGallery.css" />
    <script src="../Static/Scripts/main.js"></script>
    <script src="../Static/Scripts/about.js"></script>
    <script src="../Static/Scripts/imageGallery.js"></script>
</head>
<body>
    <header id="header-index">
        <h1>LifeSpot — прямые трансляции с улиц</h1>
        <p>О проекте</p>
    </header>
    <!--SIDEBAR-->
    <div class="main-container">
        <!--IMAGE_GALLERY-->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button onclick="promptComment(cb);">Оставить отзыв</button>

        <div class="comments">

        </div>
    </div>
    <!--FOOTER-->
</body>
</html>
