<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>LifeSpot</title>
        <link rel="stylesheet" href="../Static/CSS/index.css" />
        <script src="../Static/Scripts/main.js"></script>
    </head>
    <body>
        <header id="header-index">
            <h1>LifeSpot — прямые трансляции с улиц</h1>
            <p>Просмотр web-камер с улиц.</p>
            <input type="text" id="search-input" oninput="filterVideos()" placeholder="Поиск видео" />
        </header>
        <!--SIDEBAR-->
        <div>
            <div class="video-container">
                <iframe width="520" height="315" src="https://www.youtube.com/embed/Vn28Tk_uuq0?si=iMbi0XCDt0G95SjZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h3>Нью-Йорк</h3>
            </div>
            <div class="video-container">
                <iframe width="520" height="315" src="https://www.youtube.com/embed/GSmCh4DrbWY?si=WTGWw8UGwtvrnF5u" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h3>Москва</h3>
            </div>
            <div class="video-container">
                <iframe width="520" height="315" src="https://www.youtube.com/embed/JplMzss6_YE?si=GKfXGsnTwhCtVWLl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h3>Лондон</h3>
            </div>
        </div>
        <!--FOOTER-->
    </body>
</html>